<%-include("header")-%>
<div  id="success">
</div>
<div  id="failure">
</div>
<div class="container" id="resubmit-container">
    <h1 id="submittedHeading"></h1>
    <h1 class="resubmit-headers " id="resubmit-h1-1">↓ Can Submit Again ↓</h1>
    <h1 class="page-heading resubmit-contact-page-heading " id="resubmit-h1-2">Contact</h1>
    <form class="contact-form" id="resubmit-form" action="/resubmit" method="POST"> 
        <input class="form-elements name-input" id="name" name="name" autocomplete="off" type="text" placeholder="Enter Your Name">
        <small id="invalid-feedback-name" class="invalid-feedback"></small>
        <input class="form-elements email-input" id="email" name="email" autocomplete="off" type="text" placeholder="Enter Your E-mail">
        <small id="invalid-feedback-email" class="invalid-feedback"></small>
        <textarea class="form-elements contact-textarea" id="message" name="message" rows="3" type="text" placeholder="Enter Your Message"></textarea>
        <small id="invalid-feedback-message" class="invalid-feedback"></small>
        <button class="form-elements submit-btn" id="submit">Submit</button>
    </form>
    <%-include("social-icons")-%>
</div>
</div>
<%-include("hamburgerToggle")-%>
<%-include("resubmit-script")-%>
<%-include("footer")-%>